body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(#000000, #2e0e78, #3823d8,#93effff6);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.perfil{
    width: 400px;
    background-color: rgb(166, 254, 254);
    padding: 50px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0 0 40px rgb(17, 2, 104);
}
img{
    width: 150px;
    height: 150px;
    border-radius: 180%;
}
h1{
    color: #16024b;
}
h3{s
    color: #007b;
}
p{
    color: #3b6572;
}
button{
    width: 160px;
    height: 40px;
    margin-top: 10px;
    border: 01;
    border-color: rgba(17, 4, 75, 0.733);
    color: rgb(8, 8, 245);
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
    background-color: rgb(0, 0, 0); 
    color: rgb(213, 235, 249); 
}
